*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ///////////////////////////////////FOOTER//////////////////////////////////// */
footer {
  // height: 18em;
  background-color: black;
  width: 100%;
  // position: absolute;
  // bottom: 0px;
}
h6 {
  color: white;
  text-align: center;
  font-size: 2em;
  font-family: $secondFont;

  padding-top: 2em;
}
.footerflex {
  display: flex;
  flex-wrap: wrap;
  width: 35%;
  justify-content: space-around;
  margin-left: 32.5%;
}

.fpics {
  // footer pictures
  color: aliceblue;
  border: 1px solid rgb(39, 39, 39);
  margin: 15px;
  height: 15px;
  width: 15px;
}
#phoneicon {
  font-size: 15px;
}
.nameoftheme {
  color: $lightGreen;
}
footer p {
  font-size: 1em;
  color: $Lgrey;
  font-family: $normalFont;
  text-align: center;
}
.move {
  text-align: center;
  padding-bottom: 3em;
}
