*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  position: relative;
  top: -100px;
  left: 10%;
  width: 80%;
  background-color: white;
  // border: 1px solid red;
  ////////////SECTION1//////////////////////////
  .section-1 {
    margin-top: 3em;
    padding-top: 3%;
    margin-bottom: 3em;

    // background-color: aqua;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-column-gap: 5%;
    .options {
      .symbol {
        text-align: center;
      }

      #ICON1,
      #ICON2,
      #ICON3 {
        height: 2em;
        width: 2em;
        text-align: center;
        padding-top: 0.5em;
        clip-path: circle(35%);
        color: white;
        background: $lightGreen;
        font-size: 40px;
        transition: all 0.3s ease-in-out;
      }
      @media only screen and(max-width:800px) {
        #ICON1,
        #ICON2,
        #ICON3 {
          font-size: 30px;
        }
      }
      #ICON1:hover,
      #ICON2:hover,
      #ICON3:hover {
        background: white;
        color: rgb(37, 189, 138);
        font-size: 50px;
        left: 3em;
      }

      h2 {
        color: rgb(39, 36, 36);
        text-align: center;
        font-size: 16px;
        font-family: "Quicksand", sans-serif;
        padding-bottom: 10px;
      }
      @media only screen and(max-width:800px) {
        h2 {
          font-size: 14px;
        }
      }

      p {
        color: $Lgrey;
        font-size: 14px;
        text-align: center;
        font-family: $normalFont;
        padding-bottom: 1em;
      }
      a {
        margin-left: 9em;
        margin-top: 9em;
        text-align: center;
        font-family: $normalFont;
        text-decoration: none;
        // color: rgb(15, 67, 134);
      }
    }

    .decoration {
      // background-color: brown;
      text-align: center;
      grid-column: 1/4;
      h3 {
        font-size: 25px;
        font-family: $normalFont;
        color: rgb(39, 36, 36);
      }
      .fhr {
        width: 15em;
        display: inline-block;
      }
      @media only screen and(max-width:850px) {
        .fhr {
          width: 10em;
        }
      }
      @media only screen and(max-width:550px) {
        .fhr {
          width: 7em;
        }
      }
      @media only screen and(max-width:430px) {
        .fhr {
          width: 5em;
        }
      }
      .stars {
        display: inline;
        color: $silver;
        font-size: larger;
      }
    }
  }
  ////////////SECTION2//////////////////////////
  .section-2 {
    // margin-top: 5em;
    // margin-top: 5em;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 350px 100px;
    // background-color: burlywood;
    grid-column-gap: 5%;
    .container {
      // height: 50%;
      border: 1px solid $Lgrey;
      grid-row: 1/2;
      .product {
        // background-color: rgb(255, 178, 127);
        width: 100%;
        height: 75%;
        overflow-y: hidden;
        overflow-x: hidden;
      }
      .product:hover {
        overflow-y: scroll;
        overflow-x: hidden;
        &::-webkit-scrollbar {
          width: 1em;
          height: auto;
        }
        &::-webkit-scrollbar-thumb {
          background: orangered;
          border-radius: 2em;
        }
        &::-webkit-scrollbar-track {
          background: whitesmoke;
        }
      }

      .product img {
        width: 100%;
      }

      h4,
      h5 {
        text-align: center;
        margin-top: 15px;
        font-family: $normalFont;
      }
      .shr {
        margin: auto;
        margin-top: 15px;
        color: $silver;
        width: 80%;
      }
    }

    .green-Button {
      grid-row: 2/3;
      grid-column: 1/4;
      // border: 1px solid red;
      position: relative;
      top: 1.5em;
      margin: auto;
      margin-bottom: 5em;
      width: 20em;
      height: 3.5em;
      text-align: center;
      background-color: $lightGreen;
      p {
        padding-top: 15px;
        a {
          color: white;
          font-family: $normalFont;
          font-size: 18px;
          padding-right: 40px;
          font-weight: bolder;
          text-decoration: none;
          text-align: center;
        }

        .White-Star {
          width: 1.5em;
          height: 1.5em;
          font-size: x-large;
          position: absolute;
          left: 11em;
          top: 0.3em;
          padding: 0.1em;
          color: white;
          background-color: $darkGreen;
        }
        @media only screen and(max-width:950px) {
          .White-Star {
            width: 1.4em;
            height: 1.4em;
            padding: 0em;
            left: 8.9em;
          }
        }
      }
    }

    @media only screen and(max-width:950px) {
      .green-Button {
        margin-top: 2.5%;
        width: 16em;
        height: 3em;
      }
    }
  }
  @media only screen and(max-width:1200px) {
    .section-2 {
      height: 400px;
      grid-template-rows: 300px 100px;
      // background-color: aquamarine;
    }
  }
  @media only screen and(max-width:900px) {
    .section-2 {
      height: 350px;
      grid-template-rows: 250px 100px;
      // background-color: aquamarine;
    }
  }
  ////////SECTION3//////////////////////////
  .section-3 {
    margin-top: 7%;
    // background-color: blueviolet;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    // grid-template-rows: 350px 100px;
    grid-column-gap: 5%;
    .options {
      height: 75%;
      text-align: center;
      margin-top: 10%;
      .transfer {
        padding-top: 5%;
        h2 {
          font-size: 20px;
          // text-align: ce5nter;
          padding-bottom: 2%;
        }
        @media only screen and (max-width: 670px) {
          h2 {
            font-size: 16px;
          }
        }
        p {
          color: gray;
        }
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    .section-3 {
      height: 400px;
    }
  }
  @media only screen and (max-width: 965px) {
    .section-3 {
      height: 450px;
    }
  }
  @media only screen and (max-width: 670px) {
    .section-3 {
      height: 500px;
    }
  }
  @media only screen and (max-width: 525px) {
    .section-3 {
      height: 600px;
    }
  }
  @media only screen and (max-width: 395px) {
    .section-3 {
      height: 700px;
    }
  }
  @media only screen and (max-width: 345px) {
    .section-3 {
      height: 800px;
    }
  }
}

// @media only screen and (max-width: 900px) {
//   .section-2 {
//     background-color: red;
//     grid-template-rows: repeat(3, 20%);
//   }
// }

// .green-Button {

// }

.section-3 #ICON1,
.section-3 #ICON2,
.section-3 #ICON3 {
  font-size: 40px;
  position: relative;
  top: -0.5em;
  left: 0.2em;
  color: $lightGreen;
  background-color: white;
}

.option-extra {
  height: 14em;
  border: 1px solid $silver;
}
h3 {
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
  font-family: $normalFont;
}
.support {
  text-align: center;
  .girl {
    height: 8em;
    width: 8em;
    clip-path: circle(50%);
    margin-top: 5%;
  }
  article {
    font-size: 1.2em;
    font-family: $normalFont;
    font-weight: lighter;
    color: gray;
    text-align: center;
    margin-top: 3em;
  }
  article p {
    font-size: 1.6em;

    color: rgb(46, 45, 45);
  }
}

.greenPart {
  position: relative;
  top: 100em;
  width: 100%;
  height: 10em;
  background-color: $lightGreen;
  text-align: center;
}
.greenPart p {
  padding-top: 2.5em;
  font-size: 2em;
  color: white;
}
@media only screen and(max-width:950px) {
  .greenPart p {
    font-size: 1.5em;
  }
}
.fatherSpan {
  padding: 0.5em;
  border: 1px solid white;
}

////////ICONS Part///////////////////////////////////////
