@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Dosis:wght@200;700&display=swap");
$headFont: "Dosis", "Quicksand";
$secondFont: "Dosis", "Quicksand";
$normalFont: sans-serif;
$lightGreen: rgb(37, 189, 176);
$darkGreen: rgb(8, 97, 100);
$darkBlue: rgb(9, 81, 122);
$lightBlue: powderblue;
$silver: rgb(223, 223, 223);
$Dgrey: rgb(70, 68, 68);
$Lgrey: grey;
